<div id="mailpreviewframe" class="iframebox" role="complementary" aria-labelledby="aria-label-mailpreviewframe"
	style="overflow: auto;">
	<div id="messageheader" class="previewheader">

		<!-- record navigation -->
		<div id="countcontrols" role="toolbar" aria-labelledby="aria-label-messagetoolbar">
			<h2 id="aria-label-messagetoolbar" class="voice">
				<roundcube:label name="arialabelmessageactions" />
			</h2>
			<roundcube:if condition="env:optional_format=='text'" />
			<span class="buttongroup">
				<roundcube:button command="change-format" prop="html" type="link"
					class="button first changeformat html selected" innerClass="icon" title="changeformathtml"
					content="HTML" />
				<roundcube:button command="change-format" prop="text" type="link" class="button last changeformat text"
					classSel="button changeformat text pressed" innerClass="icon" title="changeformattext"
					content="Text" />
			</span>
			<roundcube:elseif condition="env:optional_format=='html'" />
			&nbsp;
			<span class="buttongroup">
				<roundcube:button command="change-format" prop="html" type="link" class="button first changeformat html"
					classSel="button changeformat html pressed" innerClass="icon" title="changeformathtml"
					content="HTML" />
				<roundcube:button command="change-format" prop="text" type="link"
					class="button last changeformat text selected" innerClass="icon" title="changeformattext"
					content="Text" />
			</span>
			<roundcube:endif />
			<roundcube:if condition="!env:message_context">
				&nbsp;
				<roundcube:button command="extwin" type="link" class="button extwin" classSel="button extwin pressed"
					innerClass="icon" title="openinextwin" label="openinextwin" />
				<roundcube:endif />
		</div>

		<h3 class="subject"><span onmouseover="rcube_webmail.long_subject_title(this)"><span class="voice">
					<roundcube:label name="subject" />: </span>%%SUBJECT%%</span></h3>

		<span class="date"><span class="voice">Date: </span>%%DATE%%</span>

		<div id="contactphoto">
			<roundcube:object name="contactphoto" />
		</div>

		<span class="from">
			<span class="voice">De: </span>
			<span class="adr">
				<a href="#" class="rcmContactAddress">
					<span class="name">%%FROM_NAME%%</span>
					<span class="mailto">%%FROM%%</span>
				</a>
				<a href="#" class="rcmaddcontact">
					<img src="skins/mel_larry/images/addcontact.png" alt="Add contact" class="noselect">
				</a>
			</span>
		</span>

		<table id="preview-allheaders" class="headers-table">
			<tbody>
				%%TOCC%%
			</tbody>
		</table>

		<roundcube:object name="messageFullHeaders" id="full-headers" />

	</div>

	<div id="messagepreview" role="main">
		<div class="rightcol" role="region" aria-labelledby="aria-label-messageattachments" style="display: none;">
			<h2 id="aria-label-messageattachments" class="voice">
				<roundcube:label name="attachments" />
			</h2>
			<roundcube:object name="messageAttachments" id="attachment-list" class="attachmentslist" />
		</div>
		<div class="leftcol" role="region" aria-labelledby="aria-label-messagebody" style="margin-right: 0;">
			<h2 id="aria-label-messagebody" class="voice">
				<roundcube:label name="arialabelmessagebody" />
			</h2>
			<roundcube:object name="messageObjects" id="message-objects" />

			<div class="messagebody">
					%%OBJECT%%
			</div>
		</div>
	</div>

	<div id="attachmentmenu" class="popupmenu" aria-hidden="true">
		<ul class="toolbarmenu" id="attachmentoptionsmenu" role="menu">
			<roundcube:button command="open-attachment" id="attachmenuopen" type="link-menuitem" label="open"
				class="icon" classAct="icon active" innerclass="icon extwin" />
			<roundcube:button command="download-attachment" id="attachmenudownload" type="link-menuitem"
				label="download" class="icon" classAct="icon active" innerclass="icon download" />
			<roundcube:container name="attachmentmenu" id="attachmentoptionsmenu" />
		</ul>
	</div>
</div>